{% extends 'BlogBundle::layout.html.twig' %}
{% block content %}
    <div class="col-md-6">
<h2>Editar Entrada: {{ entry.title }}</h2>
{{ form_start(form,{'enctype':'multipart/form-data'}) }}
        <img src="{{ asset("uploads/"~entry.image) }}" width="100px" height="auto"/>
{{ form_widget(form.image) }}
{{ form_end(form) }}
    </div>
    <div class="clear-fix"></div>
{% endblock %}