{%  extends "@Blog/layout.html.twig" %}

{% block menu %}
    {%   include 'BlogBundle:category:menu.categories.html.twig' with {'categories': categories}  %}
{% endblock %}
{% block content %}

    {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor  %}


    {% for entry in entries %}

        <div class="col-md-12"><h3>{{ entry.title }}</h3></div>
        {% if entry.image != null %}
        <img src="{{ asset("uploads/"~entry.image) }}" width="100px" height="auto"/>
        {% endif %}
        <b>{{ entry.category.name }}</b>
        <b>Autor: {{ entry.user.name }}</b>
        <i>
            {% for et in entry.entryTag %}
            {{ et.tag.name }},
            {% endfor %}
        </i>
        <div class="col-md-12">{{ entry.content }}</div>
        {% if (app.user.id is defined) and (entry.user.id == app.user.id) %}
        <p>
            <a class="btn btn-danger" href="{{ path("blog_delete_entry",{"id":entry.id}) }}">Eliminar</a>
        </p>
        {% endif %}
    <hr/>
    {% endfor  %}

{% endblock %}
