{%  extends "@Blog/layout.html.twig" %}

{% block menu %}
    {%   include 'BlogBundle:category:menu.categories.html.twig' with {'categories': categories}  %}
{% endblock %}
{% block content %}

    {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor  %}


    {% for entry in entries %}

        <div class="col-md-12"><h3>{{ entry.title }}</h3></div>
        {% if entry.image != null %}
        <img src="{{ asset("uploads/"~entry.image) }}" width="100px" height="auto"/>
        {% endif %}
        <b>{{ entry.category.name }}</b>
        <i>
        {% for et in entry.entryTag %}
        {{ et.tag.name }},
        {% endfor %}
        </i>
        <div class="col-md-12">{{ entry.content }}</div>

    <hr/>
    {% endfor  %}

{% endblock %}
