{% extends "::layout.html.twig" %}
{% block container %}
    {{parent()}}
    {{texto}}
    <hr>
    {{fruta.manzana}}
    {% if fruta.pera starts with "r" %}
        {{fruta.manzana}}
    {% endif %}
    {% if fruta.pera ends with "a" %}
    {{fruta.manzana}}
        {% endif %}
    {# comentarios de codigo #}
   
    {% set variable = "Hola Twig"%}
    <hr>
    {{variable}}
    <hr>
    {% if productos|length > 0  %}
        <ul>
        {% for producto in productos %}
         <li>{{ producto.producto }}-{{producto.precio}}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% set fecha = date("-7 Days","Europe/Madrid") %}
     {% set texto = "   dsfds ,,," %}
     {{ texto|trim(",")}}
     {{ texto|addText(777)}}
    {{ fecha.date|date("d-m-y") }}
    {{include ('AppBundle:pruebas:partial.html.twig')}}
    {{ max([34,45,123,3])}}<br>
    {{ min([34,45,123,3])}}<br>
    {{ random(1000)}}<br>
    {{random(["manzana","pera","otro"]) }}
    {% for i in range(0,25,5) %}
    {{i}}<br>
    {% endfor %}
    <hr>
    {{ generateTable(productos,3,2)| raw}}
    
{% endblock %}